
useDynLib(proteoQC)
importFrom(Rcpp, evalCpp)

import(XML)
import(parallel)
importFrom(ggplot2, aes, aes_string, element_text, facet_grid,
           facet_wrap, geom_bar, geom_errorbar, geom_histogram,
           geom_line, geom_point, geom_text, geom_vline, ggplot,
           ggplot_build, qplot, scale_fill_hue, scale_x_continuous,
           scale_y_continuous, theme, theme_bw,xlab,ylab,
           scale_fill_discrete,scale_fill_gradient,annotate,
           geom_density,coord_flip,labs,expand_limits,geom_boxplot)
importFrom(reshape2, melt)
importFrom(Nozzle.R1, addTo, asLink, asReference, asStrong,
           newCustomReport, newFigure, newList, newParagraph,
           newSection, newSubSection, newSubSubSection, newTable,
           setReportTitle, writeReport)
importFrom(plyr, ddply, dlply, summarise, .)
importFrom(rTANDEM, rTParam, rTTaxo, setParamValue, tandem)
importFrom(seqinr, read.fasta, write.fasta)
importFrom(VennDiagram, venn.diagram)
importFrom(MSnbase, readMSData, header)


export(msQCpipe)
export(reportHTML)
export(showEnzyme)
export(showMods)
export(print.msQCres,loadmsQCres)
export(calcMSQCMetrics)
export(chargeStat)
export(labelRatio)
export(proteinGroup)
